package pages

import "cms/views/layout"

templ Home() {
	@layout.Base() {
		<div class="min-h-screen flex items-center justify-center">
			<div class="text-center">
				<h1 class="text-5xl font-bold mb-4">GO CMS APP</h1>
				<p class="text-lg">Welcome to your badass CMS built with Go and Echo.</p>
			</div>
		</div>
	}
}
