package pages

import (
	"cms/views/components/home-components"
	"cms/views/layout"
)

templ Home() {
	@layout.Base() {
		<div class="min-h-screen flex items-center justify-center">
			<div class="text-center">
				<div class="max-w-[750px]">
					@homecomponents.ArticleCarousel()
				</div>
			</div>
		</div>
	}
}
