package pages

import (
	"cms/views/layout"
)

type User struct {
    Email         string `json:"email"`
    Name         string `json:"name"`
}
templ Home() {
	@layout.Base() {
		<div class="min-h-screen flex flex-col items-center">
			<div class="max-w-[750px]">
			</div>
		</div>
	}
}
